{erl_opts, [debug_info,{parse_transform, lager_transform}]}.
{deps, [
        gun,
        {syn, {git, "https://github.com/ostinelli/syn.git",{branch,"master"}}},
        {luerl, {git, "https://github.com/rvirding/luerl", {branch, "master"}}},
        {jsx, "2.8.0"},
        {eunit_formatters, "0.3.1"},
        {lager, "3.0.2"},
        {cowboy, {git, "https://github.com/ninenines/cowboy",{branch,"master"}}},
        esqlite
       ]}.
{relx, [{release, { karlbot, "0.1.0" },[karlbot,sasl]},
        {dev_mode, false},
        {include_erts, true},
        {extended_start_script, true}]
}.
{profiles, [{prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]}]}.
