{erl_opts, [debug_info,{parse_transform, lager_transform}]}.
{deps, [gun,
        {syn, {git, "https://github.com/ostinelli/syn.git",{branch,"master"}}},
        {luerl, {git, "https://github.com/rvirding/luerl", {branch, "master"}}},
        {jsx, "2.8.0"},
        {lager, "3.0.2"},
        {uuid_erl, "1.5.1"}]}.
